<!DOCTYPE html>
<head>
    <title>Light Me Up</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
            
</head>
<body style="font-family: 'Open Sans', sans-serif; position: relative; background: #01579B">
    <h1 style="text-align: center; font-size: 4em; color: white;">Light Me Up</h1>
    <h4 style="text-align: center; font-size: 1.5em; color: #CFD8DC;">Control the UB ACM Hackspace LED settings</h4>
    

</body>
</html>