<!DOCTYPE html>
<head>
    <title>Light Me Up</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <style> 
            input[type=submit] {
                background-color: #01579B;
                size: 5em;
                color: white;
                padding: 1.5%;
                align-self: center;
                margin-left: 20%;
            }
    </style>
            
</head>
<body style="font-family: 'Open Sans', sans-serif; background: white; position: relative;">
    <h1 style="text-align: center; font-size: 4em; color: #01579B;">Light Me Up</h1>
    <h4 style="text-align: center; font-size: 1.5em; color: #01579B;">Control the UB ACM Hackspace LED settings using the form below</h4>
    <div class="container">
    <form action="/form" method="POST" padding-top: 4%; margin-left: 30%;">
        <h6><div style="padding: 1%">Select a mode:</div>
        <label>
            <input type="radio" name="mode" value="default" 
            {% if mode == "default" %}checked="checked"{% endif %}><span>Default</span>
        </label>
        <label>
            <input type="radio" name="mode" value="fade"
            {% if mode == "fade" %}checked="checked"{% endif %}><span>Fade</span>
        </label>
        <label>
            <input type="radio" name="mode" value="blink"
            {% if mode == "blink" %}checked="checked"{% endif %}><span>Blink</span><br>
        </label>
        <div style="padding: 1%">Choose first color in RGB format:</div> 
        <label>
            R <input type="textarea" name="red1" value="{{red_1}}">
        </label> 
        <label>
            G <input type="textarea" name="green1" value="{{green_1}}">
        </label>
        <label>
            B <input type="textarea" name="blue1" value="{{blue_1}}">
        </label><br><br>
        <div style="padding: 1%">Choose second color in RGB format:</div>
        <label>
            R <input type="textarea" name="red2" value="{{red_2}}">
        </label> 
        <label>
            G <input type="textarea" name="green2" value="{{green_2}}">
        </label>
        <label>
            B <input type="textarea" name="blue2" value="{{blue_2}}">
        </label></h6> <br><br>
        <div style="align-content: center; ">
            <input type="submit" value="Submit form">
        </div>
    </form>
</div>

    
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>
</html>