<!DOCTYPE html>
<head>
    <title>Light Me Up</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">

            
</head>
<body>
    <h1 style="text-align: center; font-size: 4em; color: white;">Light Me Up</h1>
    <h4 style="text-align: center; font-size: 1.5em; color: #CFD8DC;">Control the UB ACM Hackspace LED settings</h4>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>
</html>